* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 30px;
}

/* a */
.header-a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: blue;
  padding: 40px 20px;
}

.main-container-a {
  display: grid;
}

.main-links-a {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: yellow;
  text-align: center;
  padding: 20px;
}

.main-content-a {
  display: grid;
  grid-template-columns: 80% 20%;
}

.content-section-a {
  color: white;
  background-color: #18188f;
}

.right-section-a {
  background-color: #8ae3a2;
  padding: 20px;
}

.footer-a {
  color: white;
  background-color: green;
  padding: 10px;
  text-align: center;
}

/* b */

.header-b {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: blue;
  padding: 40px 20px;
}

.main-container-b {
  display: grid;
  grid-template-columns: 20% 80%;
}

.main-links-b {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: yellow;
  padding: 20px 40px;
}

.content-section-b {
  color: white;
  background-color: #18188f;
  padding: 20px;
}

.footer-b {
  color: white;
  background-color: green;
  padding: 10px;
  text-align: center;
}

/* c */
.header-c {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: blue;
  padding: 40px 20px;
}

.main-container-c {
  display: grid;
}

.main-links-c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: yellow;
  text-align: center;
  padding: 20px;
}

.main-content-c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content-section-c {
  color: white;
  background-color: #18188f;
}

.right-section-c {
  background-color: #8ae3a2;
  padding: 20px;
}

.footer-c {
  color: white;
  background-color: green;
  padding: 10px;
  text-align: center;
}

/* d */
.header-d {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: blue;
  padding: 40px 20px;
}

.main-container-d {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-links-d {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: yellow;
  text-align: center;
  padding: 20px;
}

.main-content-d {
  display: grid;
  grid-template-columns: 80% 20%;
}

.content-section-d {
  color: white;
  background-color: #18188f;
}

.right-section-d {
  background-color: #8ae3a2;
  padding: 20px;
}

.footer-d {
  color: white;
  background-color: green;
  padding: 10px;
  text-align: center;
}
